FORMAT: 1A
HOST: https://api.idos.io/1.0/

# idOS - A flexible framework for identity solutions.
Veridu idOS is a [RESTful](https://en.wikipedia.org/wiki/Representational_state_transfer) framework for flexible Identity Solutions, i.e. it has resource-oriented URLs and uses HTTP response codes to indicate API errors. It also uses built-in HTTP features, like HTTP authentication and HTTP verbs, which are understood by off-the-shelf HTTP clients.

Support for cross-origin resource sharing is available across all endpoints, allowing you to interact securely with the API from a client-side web application (you should never expose your Private Key in any client-side code, use User Tokens or Credential Tokens instead).

To make the API as explorable as possible, API credentials have development and production modes. There is no "switch" for changing between modes, just use the appropriate credential to perform a live or test request. Requests made with test mode credentials incur no costs.


# Overview
This describes the resources that make up the official Veridu idOS API v1.0.

If you have any problems or requests, please contact support at [support@veridu.com](mailto:support@veridu.com).


## Response Envelopes

All API responses are sent inside an envelopes, separating response metadata from response content more elegantly.

### Success Envelope

#### Paginated Response

Field                   | Type    | Description
------------------------|---------|------------
status                  | boolean | Response status flag (set to `true`)
data                    | array   | Response data, array of objects
pagination.total        | integer | Total items available for current query parameters
pagination.per_page     | integer | Number of items per page
pagination.current_page | integer | Current page index
pagination.last_page    | integer | Last page index
pagination.from         | integer | First item index
pagination.to           | integer | Last item index
updated                 | integer | Unix timestamp for last update on result set (optional field)

#### Single Item Response

Field                   | Type    | Description
------------------------|---------|------------
status                  | boolean | Response status flag (set to `true`)
data                    | object  | Response data, object
updated                 | integer | Unix timestamp for last update on result set (optional field)

### Error Envelope

Field         | Type    | Description
--------------|---------|------------
status        | boolean | Response status flag (set to `false`)
error.code    | integer | Same as the HTTP Status Code
error.type    | string  | The type of error returned
error.link    | string  | Link to additional information about the error
error.message | string  | A descriptive error message


## Schema

All API access is over HTTPS, and accessed from the `api.idos.io` domain.

Request data can be sent as `application/x-www-form-urlencoded` or `application/json`.

Response data can be received as `application/json`, `application/javascript` or `application/xml` depending on the `Accept` header.

For JSON-P (`application/javascript`) responses, a `callback` parameter should be added to the Query String.


## Parameters

All API endpoints will accept one or more of the parameters below, added to the Query String.

Parameter    | Type    | Default | Values                           | Description
-------------|---------|---------|----------------------------------|------------
hideLinks    | boolean | `true`  | `true`, `false`                  | Suppress response's links field
failSilently | boolean | `false` | `true`, `false`                  | Forces a `HTTP 200 OK` response on errors
forceOutput  | string  | `empty` | `json`, `javascript` or `xml`    | Overrides `Accept` header and forces response output format
callback     | string  | `jsonp` | a valid javascript function name | Callback function name for JSON-P responses
forcedError  | string  | `empty` | check endpoint's list of errors  | Forces a response error


## Errors

Veridu idOS API uses conventional HTTP response codes to indicate the success or failure of an API request, however not all errors map cleanly onto HTTP response codes.

```bash
curl -i https://api.idos.io/1.0/profiles/myUser
```
```http
HTTP/1.1 403 Forbidden
Server: nginx
Date: Tue, 22 Dec 2015 19:32:37 GMT
Content-Type: application/json; charset=utf-8
Content-Length: 195
Connection: keep-alive
Cache-Control: no-store,no-cache
X-Content-Type-Options: nosniff
```
```json
{
"status": false,
"error": {
"code": 403,
"type": "CREDENTIAL_MISSING",
"link": "https://veridu.com/wiki/CREDENTIAL_MISSING",
"message": "Credential details missing. Valid Credentials: Token, Private Key"
}
}
```

## Authentication

There are two ways to authenticate in Veridu idOS API: based on a User Token or on a Credential Token. Requests that require authentication will return `403 Forbidden`. You can manage your API credentials on the [Dashboard](https://dashboard.idos.io).

All tokens are based on [JSON Web Tokens](), a list of recommended libraries to generate and manage tokens can be found [here](https://jwt.io).

### User Token

This should be used by users to interact with the API. Tokens can have a long time span, perfect for mobile integrations.

#### Sent in a Header

This is the preferred method, as it safely transports the token using a HTTP Header.

```bash
curl -H "Authorization: UserToken TOKEN" https://api.idos.io/1.0/
```

#### Sent as Query String

```bash
curl https://api.idos.io/1.0/?userToken=TOKEN
```

### Credential Token

This should be used by handlers to interact with the API.

#### Sent in a Header

This is the preferred method, as it safely transports the token using a HTTP Header.

```bash
curl -H "Authorization: CredentialToken TOKEN" https://api.idos.io/1.0/
```

#### Sent as Query String

```
curl https://api.idos.io/1.0/?token=TOKEN
```

## Rate Limiting

You can check the returned HTTP headers of any API request to see your current rate limit status:

```bash
curl -i https://api.idos.io/1.0/profiles/myUser?privKey=PRIVATE-KEY
```
```http
HTTP/1.1 200 OK
Server: nginx
Date: Tue, 22 Dec 2015 19:03:10 GMT
X-Rate-Limit-Limit: 5400
X-Rate-Limit-Remaining: 5399
X-Rate-Limit-Reset: 1450814590
```

The headers tell you everything you need to know about your current rate limit status:

Header Name            | Description
-----------------------|------------
X-Rate-Limit-Limit     | The maximum number of requests that the consumer is permitted to make per minute.
X-Rate-Limit-Remaining | The number of requests remaining in the current rate limit window.
X-Rate-Limit-Reset     | The time at which the current rate limit window resets in UTC epoch seconds.

Once you go over the rate limit you will receive an error response:

```http
HTTP/1.1 429 Too Many Requests
Server: nginx
Date: Tue, 22 Dec 2015 19:09:23 GMT
X-Rate-Limit-Limit: 5400
X-Rate-Limit-Remaining: 0
X-Rate-Limit-Reset: 1450814590
```

## Conditional Requests

Most responses return an `ETag` header and many also return a `Last-Modified` header. You can use the values of these headers to make subsequent requests to those resources using the `If-None-Match` and `If-Modified-Since` headers, respectively. If the resource has not changed, the server will return a 304 Not Modified.

```bash
curl -i https://api.idos.io/1.0/profiles/myUser?privKey=PRIVATE-KEY
```
```http
HTTP/1.1 200 OK
Server: nginx
Date: Tue, 22 Dec 2015 19:09:31 GMT
Content-Type: application/json; charset=utf-8
Content-Length: 707
Connection: keep-alive
Vary: Accept-Encoding
X-Rate-Limit-Limit: 5400
X-Rate-Limit-Remaining: 5399
X-Rate-Limit-Reset: 1450814971
Last-Modified: Tue, 22 Dec 2015 19:09:18 GMT
X-Content-Type-Options: nosniff
ETag: W/"079f7567b040b8f83e9d246018d7c115cea24c3a"
Cache-Control: private, no-cache, no-store, max-age=0, must-revalidate
```

```bash
curl -i https://api.idos.io/1.0/profiles/myUser?privKey=PRIVATE-KEY -H 'If-None-Match: W/"079f7567b040b8f83e9d246018d7c115cea24c3a"'
```
```http
HTTP/1.1 304 Not Modified
Server: nginx
Date: Tue, 22 Dec 2015 19:10:12 GMT
Connection: keep-alive
X-Rate-Limit-Limit: 5400
X-Rate-Limit-Remaining: 5398
X-Rate-Limit-Reset: 1450814971
Last-Modified: Tue, 22 Dec 2015 19:09:18 GMT
X-Content-Type-Options: nosniff
ETag: W/"079f7567b040b8f83e9d246018d7c115cea24c3a"
Cache-Control: private, no-cache, no-store, max-age=0, must-revalidate
```

```bash
curl -i https://api.idos.io/1.0/profiles/myUser?privKey=PRIVATE-KEY -H 'If-Modified-Since: Tue, 22 Dec 2015 19:09:18 GMT'
```
```http
HTTP/1.1 304 Not Modified
Server: nginx
Date: Tue, 22 Dec 2015 19:10:36 GMT
Connection: keep-alive
X-Rate-Limit-Limit: 5400
X-Rate-Limit-Remaining: 5397
X-Rate-Limit-Reset: 1450814971
Last-Modified: Tue, 22 Dec 2015 19:09:18 GMT
X-Content-Type-Options: nosniff
ETag: W/"079f7567b040b8f83e9d246018d7c115cea24c3a"
Cache-Control: private, no-cache, no-store, max-age=0, must-revalidate
```


## Cross Origin Resource Sharing

The API supports Cross Origin Resource Sharing (CORS) for AJAX requests from any origin.

```bash
curl -i https://api.idos.io/1.0/profiles/myUser?privKey=PRIVATE-KEY -H 'Origin: http://example.com'
```
```http
HTTP/1.1 200 OK
Server: nginx
Date: Tue, 22 Dec 2015 19:25:00 GMT
Content-Type: application/json; charset=utf-8
Content-Length: 707
Connection: keep-alive
Vary: Accept-Encoding
Access-Control-Allow-Origin: http://example.com
Access-Control-Max-Age: 3628800
Access-Control-Allow-Credentials: true
Access-Control-Allow-Methods: GET,DELETE,OPTIONS
Access-Control-Allow-Headers: Authorization, Content-Type, If-Modified-Since, If-None-Match, X-Requested-With
Access-Control-Expose-Headers: ETag, X-Rate-Limit-Limit, X-Rate-Limit-Remaining, X-Rate-Limit-Reset
X-Rate-Limit-Limit: 5400
X-Rate-Limit-Remaining: 5396
X-Rate-Limit-Reset: 1450814971
Last-Modified: Tue, 22 Dec 2015 19:09:18 GMT
X-Content-Type-Options: nosniff
ETag: W/"079f7567b040b8f83e9d246018d7c115cea24c3a"
Cache-Control: private, no-cache, no-store, max-age=0, must-revalidate
```


# Group General
## General Purpose Endpoints. [/]
Comprehensive list of secondary endpoints.

## List all Endpoints. [GET /]

Retrieve a complete list with all available endpoints and call methods.

+ Response 200 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "GET /",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "Response status flag",
                        "type": "boolean"
                    },
                    "data": {
                        "description": "Response payload",
                        "type": "array",
                        "items": {
                            "properties": {
                                "name": {
                                    "description": "Endpoint name",
                                    "type": "string"
                                },
                                "uri": {
                                    "description": "Endpoint URI",
                                    "type": "string"
                                },
                                "methods": {
                                    "description": "List of valid HTTP Methods for this Endpoint",
                                    "type": "array",
                                    "items": {
                                        "enum": [
                                            "GET",
                                            "POST",
                                            "DELETE",
                                            "PUT",
                                            "PATCH"
                                        ]
                                    },
                                    "minItems": 1,
                                    "uniqueItems": true
                                }
                            }
                        },
                        "minItems": 0,
                        "uniqueItems": true
                    }
                },
                "required": [
                    "status",
                    "data"
                ]
            }


# Group Company
## Company Credentials. [/companies/{companySlug}/credentials]
Also known as API Keys, a Company Credential is a way of identifying a specific Company accessing the API from a
specific origin (eg. using a plugin from website X, or from website Y).

## List all Credentials. [GET /companies/{companySlug}/credentials]

Retrieves a complete list of all credentials that belong to the requesting company.

+ Parameters
    + companySlug: `veridu-ltd` (string, required)

+ Request (application/json)
    + Headers

            Authorization: IdentityToken wqxehuwqwsthwosjbxwwsqwsdi

+ Response 500 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "Error",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "",
                        "type": "boolean"
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "description": "Same as the HTTP Status Code.",
                                "type": "integer"
                            },
                            "type": {
                                "description": "The type of error returned.",
                                "type": "string",
                                "pattern": ""
                            },
                            "link": {
                                "description": "Link to additional information about the error and how to fix/avoid it.",
                                "type": "string",
                                "pattern": ""
                            },
                            "message": {
                                "description": "A descriptive error message.",
                                "type": "string"
                            }
                        }
                    }
                },
                "required": [
                    "status",
                    "error"
                ]
            }

+ Response 200 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "GET /companies/{companySlug}/credentials",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "Response status flag",
                        "type": "boolean"
                    },
                    "data": {
                        "description": "Credential response payload",
                        "type": "array",
                        "items": {
                            "properties": {
                                "company_id": {
                                    "description": "Company owner of the Credential",
                                    "type": "integer"
                                },
                                "name": {
                                    "description": "Credential Name",
                                    "type": "string",
                                    "pattern": ""
                                },
                                "slug": {
                                    "description": "Slug based on Credential's name",
                                    "type": "string",
                                    "pattern": "[a-zA-Z0-9_-]+"
                                },
                                "public": {
                                    "description": "Credential's Public Key, generated by the API",
                                    "type": "string",
                                    "pattern": "[a-zA-Z0-9]{16}"
                                },
                                "private": {
                                    "description": "Credential's Private Key, generated by the API",
                                    "type": "string",
                                    "pattern": "[a-zA-Z0-9]{16}"
                                },
                                "production": {
                                    "description": "Says whether the Credential is a production credential or a development credential, defaults to false",
                                    "type": "boolean"
                                },
                                "created_at": {
                                    "description": "Credential's creation unixtimestamp",
                                    "type": "integer"
                                },
                                "updated_at": {
                                    "description": "Credential's last update unixtime",
                                    "type": [
                                        "integer",
                                        "null"
                                    ]
                                }
                            }
                        },
                        "minItems": 0,
                        "uniqueItems": true
                    },
                    "updated": {
                        "description": "Unixtime of the last update",
                        "type": "integer"
                    }
                },
                "required": [
                    "status",
                    "data",
                    "updated"
                ]
            }

## Create new Credential. [POST /companies/{companySlug}/credentials]

Creates a new credential for the requesting company.

+ Parameters
    + companySlug: `veridu-ltd` (string, required)

+ Request (application/json)
    + Headers

            Authorization: IdentityToken wqxehuwqwsthwosjbxwwsqwsdi

    + Attributes

        + name: My-Credential (string) - Credential name
        + production: false (boolean) - Production flag

    + Body

            {
                "name": "My-Credential",
                "production": "false"
            }

+ Response 500 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "Error",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "",
                        "type": "boolean"
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "description": "Same as the HTTP Status Code.",
                                "type": "integer"
                            },
                            "type": {
                                "description": "The type of error returned.",
                                "type": "string",
                                "pattern": ""
                            },
                            "link": {
                                "description": "Link to additional information about the error and how to fix/avoid it.",
                                "type": "string",
                                "pattern": ""
                            },
                            "message": {
                                "description": "A descriptive error message.",
                                "type": "string"
                            }
                        }
                    }
                },
                "required": [
                    "status",
                    "error"
                ]
            }

+ Response 201 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "POST /companies/{companySlug}/credentials",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "Response status flag",
                        "type": "boolean"
                    },
                    "data": {
                        "description": "Credential response payload",
                        "type": "object",
                        "properties": {
                            "company_id": {
                                "description": "Company owner of the Credential",
                                "type": "integer"
                            },
                            "name": {
                                "description": "Credential Name",
                                "type": "string",
                                "pattern": ""
                            },
                            "slug": {
                                "description": "Slug based on Credential's name",
                                "type": "string",
                                "pattern": "[a-zA-Z0-9_-]+"
                            },
                            "public": {
                                "description": "Credential's Public Key, generated by the API",
                                "type": "string",
                                "pattern": "[a-zA-Z0-9]{16}"
                            },
                            "private": {
                                "description": "Credential's Private Key, generated by the API",
                                "type": "string",
                                "pattern": "[a-zA-Z0-9]{16}"
                            },
                            "production": {
                                "description": "Says whether the Credential is a production credential or a development credential, defaults to false",
                                "type": "boolean"
                            },
                            "created_at": {
                                "description": "Credential's creation unixtimestamp",
                                "type": "integer"
                            },
                            "updated_at": {
                                "description": "Credential's last update unixtime",
                                "type": [
                                    "integer",
                                    "null"
                                ]
                            }
                        }
                    }
                },
                "required": [
                    "status",
                    "data"
                ]
            }

## Retrieve a single Credential. [GET /companies/{companySlug}/credentials/{pubKey}]

Retrieves all public information from a Credential

+ Parameters
    + companySlug: `veridu-ltd` (string, required)
    + pubKey: `FEDCBA` (string, required)

+ Request (application/json)
    + Headers

            Authorization: IdentityToken wqxehuwqwsthwosjbxwwsqwsdi

+ Response 500 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "Error",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "",
                        "type": "boolean"
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "description": "Same as the HTTP Status Code.",
                                "type": "integer"
                            },
                            "type": {
                                "description": "The type of error returned.",
                                "type": "string",
                                "pattern": ""
                            },
                            "link": {
                                "description": "Link to additional information about the error and how to fix/avoid it.",
                                "type": "string",
                                "pattern": ""
                            },
                            "message": {
                                "description": "A descriptive error message.",
                                "type": "string"
                            }
                        }
                    }
                },
                "required": [
                    "status",
                    "error"
                ]
            }

+ Response 200 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "GET /companies/{companySlug}/credentials/{pubKey}",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "Response status flag",
                        "type": "boolean"
                    },
                    "data": {
                        "description": "Credential response payload",
                        "type": "object",
                        "properties": {
                            "company_id": {
                                "description": "Company owner of the Credential",
                                "type": "integer"
                            },
                            "name": {
                                "description": "Credential Name",
                                "type": "string",
                                "pattern": ""
                            },
                            "slug": {
                                "description": "Slug based on Credential's name",
                                "type": "string",
                                "pattern": "[a-zA-Z0-9_-]+"
                            },
                            "public": {
                                "description": "Credential's Public Key, generated by the API",
                                "type": "string",
                                "pattern": "[a-zA-Z0-9]{16}"
                            },
                            "private": {
                                "description": "Credential's Private Key, generated by the API",
                                "type": "string",
                                "pattern": "[a-zA-Z0-9]{16}"
                            },
                            "production": {
                                "description": "Says whether the Credential is a production credential or a development credential, defaults to false",
                                "type": "boolean"
                            },
                            "created_at": {
                                "description": "Credential's creation unixtimestamp",
                                "type": "integer"
                            },
                            "updated_at": {
                                "description": "Credential's last update unixtime",
                                "type": [
                                    "integer",
                                    "null"
                                ]
                            }
                        }
                    },
                    "updated": {
                        "description": "Unixtime of the last update",
                        "type": "integer"
                    }
                },
                "required": [
                    "status",
                    "data"
                ]
            }

## Update a single Credential. [PUT /companies/{companySlug}/credentials/{pubKey}]

Updates Credential's specific information

+ Parameters
    + companySlug: `veridu-ltd` (string, required)
    + pubKey: `FEDCBA` (string, required)

+ Request (application/json)
    + Headers

            Authorization: IdentityToken wqxehuwqwsthwosjbxwwsqwsdi

    + Attributes

        + name: New-Name (string) - New Credential name

    + Body

            {
                "name": "New-Name"
            }

+ Response 500 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "Error",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "",
                        "type": "boolean"
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "description": "Same as the HTTP Status Code.",
                                "type": "integer"
                            },
                            "type": {
                                "description": "The type of error returned.",
                                "type": "string",
                                "pattern": ""
                            },
                            "link": {
                                "description": "Link to additional information about the error and how to fix/avoid it.",
                                "type": "string",
                                "pattern": ""
                            },
                            "message": {
                                "description": "A descriptive error message.",
                                "type": "string"
                            }
                        }
                    }
                },
                "required": [
                    "status",
                    "error"
                ]
            }

+ Response 200 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "PUT /companies/{companySlug}/credentials/{pubKey}",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "Response status flag",
                        "type": "boolean"
                    },
                    "data": {
                        "description": "Credential response payload",
                        "type": "object",
                        "properties": {
                            "company_id": {
                                "description": "Company owner of the Credential",
                                "type": "integer"
                            },
                            "name": {
                                "description": "Credential Name",
                                "type": "string",
                                "pattern": ""
                            },
                            "slug": {
                                "description": "Slug based on Credential's name",
                                "type": "string",
                                "pattern": "[a-zA-Z0-9_-]+"
                            },
                            "public": {
                                "description": "Credential's Public Key, generated by the API",
                                "type": "string",
                                "pattern": "[a-zA-Z0-9]{16}"
                            },
                            "private": {
                                "description": "Credential's Private Key, generated by the API",
                                "type": "string",
                                "pattern": "[a-zA-Z0-9]{16}"
                            },
                            "production": {
                                "description": "Says whether the Credential is a production credential or a development credential, defaults to false",
                                "type": "boolean"
                            },
                            "created_at": {
                                "description": "Credential's creation unixtimestamp",
                                "type": "integer"
                            },
                            "updated_at": {
                                "description": "Credential's last update unixtime",
                                "type": [
                                    "integer",
                                    "null"
                                ]
                            }
                        }
                    },
                    "updated": {
                        "description": "Unixtime of the last update",
                        "type": "integer"
                    }
                },
                "required": [
                    "status",
                    "data",
                    "updated"
                ]
            }

## Deletes a single Credential. [DELETE /companies/{companySlug}/credentials/{pubKey}]

Deletes a single Credential that belongs to the target company.

+ Parameters
    + companySlug: `veridu-ltd` (string, required)
    + pubKey: `FEDCBA` (string, required)

+ Request (application/json)
    + Headers

            Authorization: IdentityToken wqxehuwqwsthwosjbxwwsqwsdi

+ Response 500 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "Error",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "",
                        "type": "boolean"
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "description": "Same as the HTTP Status Code.",
                                "type": "integer"
                            },
                            "type": {
                                "description": "The type of error returned.",
                                "type": "string",
                                "pattern": ""
                            },
                            "link": {
                                "description": "Link to additional information about the error and how to fix/avoid it.",
                                "type": "string",
                                "pattern": ""
                            },
                            "message": {
                                "description": "A descriptive error message.",
                                "type": "string"
                            }
                        }
                    }
                },
                "required": [
                    "status",
                    "error"
                ]
            }

+ Response 200 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "DELETE /companies/{companySlug}/credentials/{pubKey}",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "Response status flag",
                        "type": "boolean"
                    },
                    "deleted": {
                        "description": "Number of sucessfully deleted credentials",
                        "type": "integer",
                        "minimum": 0
                    }
                },
                "required": [
                    "status"
                ]
            }

## Company Hook. [/companies/{companySlug}/credentials/{pubKey}/hooks]
A Hook is a feature that allows a Company to receive updates or alerts when a User changes their data in a specific
way. If a User deletes or updates a certain attribute, a Hook will update or alert the Company in realtime.

## List all Hooks. [GET /companies/{companySlug}/credentials/{pubKey}/hooks]

Retrieves a complete list of all hooks that belong to the requesting credential.

+ Parameters
    + companySlug: `veridu-ltd` (string, required)
    + pubKey: `8b5fe9db84e338b424ed6d59da3254a0` (string, required)

+ Request (application/json)
    + Headers

            Authorization: IdentityToken wqxehuwqwsthwosjbxwwsqwsdi

+ Response 500 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "Error",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "",
                        "type": "boolean"
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "description": "Same as the HTTP Status Code.",
                                "type": "integer"
                            },
                            "type": {
                                "description": "The type of error returned.",
                                "type": "string",
                                "pattern": ""
                            },
                            "link": {
                                "description": "Link to additional information about the error and how to fix/avoid it.",
                                "type": "string",
                                "pattern": ""
                            },
                            "message": {
                                "description": "A descriptive error message.",
                                "type": "string"
                            }
                        }
                    }
                },
                "required": [
                    "status",
                    "error"
                ]
            }

+ Response 200 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "GET /companies/{companySlug}/credentials/{pubKey}/hooks",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "Response status flag",
                        "type": "boolean"
                    },
                    "data": {
                        "description": "Hook response payload",
                        "type": "array",
                        "items": {
                            "properties": {
                                "trigger": {
                                    "description": "Hook trigger",
                                    "type": "string",
                                    "pattern": ""
                                },
                                "url": {
                                    "description": "Hook callback URL",
                                    "type": "string",
                                    "pattern": ""
                                },
                                "subscribed": {
                                    "description": "Hook subscribed",
                                    "type": "boolean"
                                },
                                "created_at": {
                                    "description": "Hook's creation unixtime",
                                    "type": "integer"
                                },
                                "updated_at": {
                                    "description": "Hooks's last update unixtime",
                                    "type": [
                                        "integer",
                                        "null"
                                    ]
                                }
                            }
                        },
                        "minItems": 0,
                        "uniqueItems": true
                    },
                    "updated": {
                        "description": "Unixtime of the last update",
                        "type": "integer"
                    }
                },
                "required": [
                    "status",
                    "data",
                    "updated"
                ]
            }

## Create new hook. [POST /companies/{companySlug}/credentials/{pubKey}/hooks]

Create a new hook for the requesting credential.

+ Parameters
    + companySlug: `veridu-ltd` (string, required)
    + pubKey: `8b5fe9db84e338b424ed6d59da3254a0` (string, required)

+ Request (application/json)
    + Headers

            Authorization: IdentityToken wqxehuwqwsthwosjbxwwsqwsdi

    + Attributes

        + trigger: company.create (string) - Trigger
        + url: http://test.com/example.php (string) - Url
        + subscribed: false (boolean) - Subscribed

    + Body

            {
                "trigger": "company.create",
                "url": "http:\/\/test.com\/example.php",
                "subscribed": "false"
            }

+ Response 500 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "Error",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "",
                        "type": "boolean"
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "description": "Same as the HTTP Status Code.",
                                "type": "integer"
                            },
                            "type": {
                                "description": "The type of error returned.",
                                "type": "string",
                                "pattern": ""
                            },
                            "link": {
                                "description": "Link to additional information about the error and how to fix/avoid it.",
                                "type": "string",
                                "pattern": ""
                            },
                            "message": {
                                "description": "A descriptive error message.",
                                "type": "string"
                            }
                        }
                    }
                },
                "required": [
                    "status",
                    "error"
                ]
            }

+ Response 201 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "id": "https://api.idos.io/1.0/schema/hook/hookEntity.json",
                "title": "Hook",
                "type": "object",
                "properties": {
                    "trigger": {
                        "description": "Hook trigger",
                        "type": "string",
                        "pattern": ""
                    },
                    "url": {
                        "description": "Hook callback URL",
                        "type": "string",
                        "pattern": ""
                    },
                    "subscribed": {
                        "description": "Hook subscribed",
                        "type": "boolean"
                    },
                    "created_at": {
                        "description": "Hook's creation unixtime",
                        "type": "integer"
                    },
                    "updated_at": {
                        "description": "Hooks's last update unixtime",
                        "type": [
                            "integer",
                            "null"
                        ]
                    }
                },
                "required": [
                    "trigger",
                    "url",
                    "subscribed",
                    "created_at"
                ]
            }

## Update a single hook. [PATCH /companies/{companySlug}/credentials/{pubKey}/hooks/{hookId}]

Updates a hook that belongs to the requesting credential.

+ Parameters
    + companySlug: `veridu-ltd` (string, required)
    + pubKey: `8b5fe9db84e338b424ed6d59da3254a0` (string, required)
    + hookId: `1` (number, required)

+ Request (application/json)
    + Headers

            Authorization: IdentityToken wqxehuwqwsthwosjbxwwsqwsdi

    + Attributes

        + trigger: company.create (string) - Trigger
        + url: http://test.com/example.php (string) - Url
        + subscribed: false (boolean) - Subscribed

    + Body

            {
                "trigger": "company.create",
                "url": "http:\/\/test.com\/example.php",
                "subscribed": "false"
            }

+ Response 500 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "Error",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "",
                        "type": "boolean"
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "description": "Same as the HTTP Status Code.",
                                "type": "integer"
                            },
                            "type": {
                                "description": "The type of error returned.",
                                "type": "string",
                                "pattern": ""
                            },
                            "link": {
                                "description": "Link to additional information about the error and how to fix/avoid it.",
                                "type": "string",
                                "pattern": ""
                            },
                            "message": {
                                "description": "A descriptive error message.",
                                "type": "string"
                            }
                        }
                    }
                },
                "required": [
                    "status",
                    "error"
                ]
            }

+ Response 200 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "PUT /companies/{companySlug}/credentials/{pubKey}/hooks/{hookId}",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "Response status flag",
                        "type": "boolean"
                    },
                    "data": {
                        "description": "Hook response payload",
                        "type": "object",
                        "properties": {
                            "trigger": {
                                "description": "Hook trigger",
                                "type": "string",
                                "pattern": ""
                            },
                            "url": {
                                "description": "Hook callback URL",
                                "type": "string",
                                "pattern": ""
                            },
                            "subscribed": {
                                "description": "Hook subscribed",
                                "type": "boolean"
                            },
                            "created_at": {
                                "description": "Hook's creation unixtime",
                                "type": "integer"
                            },
                            "updated_at": {
                                "description": "Hooks's last update unixtime",
                                "type": [
                                    "integer",
                                    "null"
                                ]
                            }
                        }
                    },
                    "updated": {
                        "description": "Unixtime of the last update",
                        "type": "integer"
                    }
                },
                "required": [
                    "status",
                    "data",
                    "updated"
                ]
            }

## Retrieve a single hook. [GET /companies/{companySlug}/credentials/{pubKey}/hooks/{hookId}]

Retrieves all public information from a hook

+ Parameters
    + companySlug: `veridu-ltd` (string, required)
    + pubKey: `8b5fe9db84e338b424ed6d59da3254a0` (string, required)
    + hookId: `1` (number, required)

+ Request (application/json)
    + Headers

            Authorization: IdentityToken wqxehuwqwsthwosjbxwwsqwsdi

+ Response 500 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "Error",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "",
                        "type": "boolean"
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "description": "Same as the HTTP Status Code.",
                                "type": "integer"
                            },
                            "type": {
                                "description": "The type of error returned.",
                                "type": "string",
                                "pattern": ""
                            },
                            "link": {
                                "description": "Link to additional information about the error and how to fix/avoid it.",
                                "type": "string",
                                "pattern": ""
                            },
                            "message": {
                                "description": "A descriptive error message.",
                                "type": "string"
                            }
                        }
                    }
                },
                "required": [
                    "status",
                    "error"
                ]
            }

+ Response 200 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "id": "https://api.idos.io/1.0/schema/hook/hookEntity.json",
                "title": "Hook",
                "type": "object",
                "properties": {
                    "trigger": {
                        "description": "Hook trigger",
                        "type": "string",
                        "pattern": ""
                    },
                    "url": {
                        "description": "Hook callback URL",
                        "type": "string",
                        "pattern": ""
                    },
                    "subscribed": {
                        "description": "Hook subscribed",
                        "type": "boolean"
                    },
                    "created_at": {
                        "description": "Hook's creation unixtime",
                        "type": "integer"
                    },
                    "updated_at": {
                        "description": "Hooks's last update unixtime",
                        "type": [
                            "integer",
                            "null"
                        ]
                    }
                },
                "required": [
                    "trigger",
                    "url",
                    "subscribed",
                    "created_at"
                ]
            }

## Delete a single hook. [DELETE /companies/{companySlug}/credentials/{pubKey}/hooks/{hookId}]

Deletes a hook that belongs to the requesting credential.

+ Parameters
    + companySlug: `veridu-ltd` (string, required)
    + pubKey: `8b5fe9db84e338b424ed6d59da3254a0` (string, required)
    + hookId: `1` (number, required)

+ Request (application/json)
    + Headers

            Authorization: IdentityToken wqxehuwqwsthwosjbxwwsqwsdi

+ Response 500 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "Error",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "",
                        "type": "boolean"
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "description": "Same as the HTTP Status Code.",
                                "type": "integer"
                            },
                            "type": {
                                "description": "The type of error returned.",
                                "type": "string",
                                "pattern": ""
                            },
                            "link": {
                                "description": "Link to additional information about the error and how to fix/avoid it.",
                                "type": "string",
                                "pattern": ""
                            },
                            "message": {
                                "description": "A descriptive error message.",
                                "type": "string"
                            }
                        }
                    }
                },
                "required": [
                    "status",
                    "error"
                ]
            }

+ Response 200 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "DELETE /companies/{companySlug}/credentials/{pubKey}/hooks/{hookId}",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "Response status flag",
                        "type": "boolean"
                    }
                },
                "required": [
                    "status"
                ]
            }

## Company Invitations. [/companies/{companySlug}/invitation/{invitationId}]
Company Invitations is the best way to add new Members to a Company.
The invitation is sent by e-mail and contains a unique sign-up link with limited expiration time.

## Deletes a single Invitation. [DELETE /companies/{companySlug}/invitation/{invitationId}]

Deletes a single Invitation that belongs to the requesting company.

+ Parameters
    + companySlug: `veridu-ltd` (string, required)
    + invitationId: `1243` (number, required)

+ Request (application/json)
    + Headers

            Authorization: IdentityToken wqxehuwqwsthwosjbxwwsqwsdi

+ Response 500 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "Error",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "",
                        "type": "boolean"
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "description": "Same as the HTTP Status Code.",
                                "type": "integer"
                            },
                            "type": {
                                "description": "The type of error returned.",
                                "type": "string",
                                "pattern": ""
                            },
                            "link": {
                                "description": "Link to additional information about the error and how to fix/avoid it.",
                                "type": "string",
                                "pattern": ""
                            },
                            "message": {
                                "description": "A descriptive error message.",
                                "type": "string"
                            }
                        }
                    }
                },
                "required": [
                    "status",
                    "error"
                ]
            }

+ Response 200 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "DELETE /companies/{companySlug}/invitations/{invitationId}",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "Response status flag",
                        "type": "boolean"
                    }
                },
                "required": [
                    "status"
                ]
            }

## Updates a single Invitation. [PATCH /companies/{companySlug}/invitation/{invitationId}]

Updates a single Invitation that belongs to the requesting company.

+ Parameters
    + companySlug: `veridu-ltd` (string, required)
    + invitationId: `1243` (number, required)

+ Request (application/json)
    + Headers

            Authorization: IdentityToken wqxehuwqwsthwosjbxwwsqwsdi

+ Response 500 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "Error",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "",
                        "type": "boolean"
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "description": "Same as the HTTP Status Code.",
                                "type": "integer"
                            },
                            "type": {
                                "description": "The type of error returned.",
                                "type": "string",
                                "pattern": ""
                            },
                            "link": {
                                "description": "Link to additional information about the error and how to fix/avoid it.",
                                "type": "string",
                                "pattern": ""
                            },
                            "message": {
                                "description": "A descriptive error message.",
                                "type": "string"
                            }
                        }
                    }
                },
                "required": [
                    "status",
                    "error"
                ]
            }

+ Response 200 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "PUT /companies/{companySlug}/invitations/{invitationId}",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "Response status flag",
                        "type": "boolean"
                    },
                    "data": {
                        "description": "Invitation response payload",
                        "type": "object",
                        "properties": {
                            "id": {
                                "description": "Invitation id",
                                "type": "integer",
                                "pattern": ""
                            },
                            "member_id": {
                                "description": "Member Id",
                                "type": "integer",
                                "pattern": ""
                            },
                            "name": {
                                "description": "Future member's name",
                                "type": "string",
                                "pattern": ""
                            },
                            "email": {
                                "description": "Future member's email",
                                "type": "string",
                                "pattern": ""
                            },
                            "role": {
                                "description": "Future member's role",
                                "type": "string",
                                "pattern": ""
                            },
                            "voided": {
                                "description": "Invitation's voided, true when it was already used",
                                "type": "boolean",
                                "pattern": ""
                            },
                            "expires": {
                                "description": "Invitation's expiration unixtime",
                                "type": "integer"
                            },
                            "created_at": {
                                "description": "Invitation's creation unixtime",
                                "type": "integer"
                            },
                            "updated_at": {
                                "description": "Invitation's last update unixtime",
                                "type": [
                                    "integer",
                                    "null"
                                ]
                            }
                        }
                    },
                    "updated": {
                        "description": "Unixtime of the last update",
                        "type": "integer"
                    }
                },
                "required": [
                    "status",
                    "data",
                    "updated"
                ]
            }

## Creates new Invitation. [POST /companies/{companySlug}/invitations]

Creates a new invitation for the requesting company.

+ Parameters
    + companySlug: `veridu-ltd` (string, required)

+ Request (application/json)
    + Headers

            Authorization: IdentityToken wqxehuwqwsthwosjbxwwsqwsdi

    + Attributes

        + role: company.owner (string) - Role type
        + email: jhondoe@idos.io (string) - User's email
        + name: jhon (string) - User's name
        + credentialPubKey: wqxehuwqwsthwosjbxwwsqwsdi (string) - A valid credential public key
        + expires: 2016-11-23 (string) - Expiration date (if no expiration date is passed, the invitation will expire in one day)

    + Body

            {
                "role": "company.owner",
                "email": "jhondoe@idos.io",
                "name": "jhon",
                "credentialPubKey": "wqxehuwqwsthwosjbxwwsqwsdi",
                "expires": "2016-11-23"
            }

+ Response 500 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "Error",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "",
                        "type": "boolean"
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "description": "Same as the HTTP Status Code.",
                                "type": "integer"
                            },
                            "type": {
                                "description": "The type of error returned.",
                                "type": "string",
                                "pattern": ""
                            },
                            "link": {
                                "description": "Link to additional information about the error and how to fix/avoid it.",
                                "type": "string",
                                "pattern": ""
                            },
                            "message": {
                                "description": "A descriptive error message.",
                                "type": "string"
                            }
                        }
                    }
                },
                "required": [
                    "status",
                    "error"
                ]
            }

+ Response 201 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "POST /companies/{companySlug}/invitations",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "Response status flag",
                        "type": "boolean"
                    },
                    "data": {
                        "description": "Invitation response payload",
                        "type": "object",
                        "properties": {
                            "id": {
                                "description": "Invitation id",
                                "type": "integer",
                                "pattern": ""
                            },
                            "member_id": {
                                "description": "Member Id",
                                "type": "integer",
                                "pattern": ""
                            },
                            "name": {
                                "description": "Future member's name",
                                "type": "string",
                                "pattern": ""
                            },
                            "email": {
                                "description": "Future member's email",
                                "type": "string",
                                "pattern": ""
                            },
                            "role": {
                                "description": "Future member's role",
                                "type": "string",
                                "pattern": ""
                            },
                            "voided": {
                                "description": "Invitation's voided, true when it was already used",
                                "type": "boolean",
                                "pattern": ""
                            },
                            "expires": {
                                "description": "Invitation's expiration unixtime",
                                "type": "integer"
                            },
                            "created_at": {
                                "description": "Invitation's creation unixtime",
                                "type": "integer"
                            },
                            "updated_at": {
                                "description": "Invitation's last update unixtime",
                                "type": [
                                    "integer",
                                    "null"
                                ]
                            }
                        }
                    }
                },
                "required": [
                    "status",
                    "data"
                ]
            }

## Retrieve a list of invitations for this company. [GET /companies/{companySlug}/invitations]

Retrieves all public information from Invitations

+ Parameters
    + companySlug: `veridu-ltd` (string, required)

+ Request (application/json)
    + Headers

            Authorization: IdentityToken wqxehuwqwsthwosjbxwwsqwsdi

+ Response 500 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "Error",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "",
                        "type": "boolean"
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "description": "Same as the HTTP Status Code.",
                                "type": "integer"
                            },
                            "type": {
                                "description": "The type of error returned.",
                                "type": "string",
                                "pattern": ""
                            },
                            "link": {
                                "description": "Link to additional information about the error and how to fix/avoid it.",
                                "type": "string",
                                "pattern": ""
                            },
                            "message": {
                                "description": "A descriptive error message.",
                                "type": "string"
                            }
                        }
                    }
                },
                "required": [
                    "status",
                    "error"
                ]
            }

+ Response 200 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "GET /companies/{companySlug}/invitations",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "Response status flag",
                        "type": "boolean"
                    },
                    "data": {
                        "description": "Invitation response payload",
                        "type": "array",
                        "items": {
                            "properties": {
                                "id": {
                                    "description": "Invitation id",
                                    "type": "integer",
                                    "pattern": ""
                                },
                                "member_id": {
                                    "description": "Member Id",
                                    "type": "integer",
                                    "pattern": ""
                                },
                                "name": {
                                    "description": "Future member's name",
                                    "type": "string",
                                    "pattern": ""
                                },
                                "email": {
                                    "description": "Future member's email",
                                    "type": "string",
                                    "pattern": ""
                                },
                                "role": {
                                    "description": "Future member's role",
                                    "type": "string",
                                    "pattern": ""
                                },
                                "voided": {
                                    "description": "Invitation's voided, true when it was already used",
                                    "type": "boolean",
                                    "pattern": ""
                                },
                                "expires": {
                                    "description": "Invitation's expiration unixtime",
                                    "type": "integer"
                                },
                                "created_at": {
                                    "description": "Invitation's creation unixtime",
                                    "type": "integer"
                                },
                                "updated_at": {
                                    "description": "Invitation's last update unixtime",
                                    "type": [
                                        "integer",
                                        "null"
                                    ]
                                }
                            }
                        },
                        "minItems": 0,
                        "uniqueItems": true
                    },
                    "updated": {
                        "description": "Unixtime of the last update",
                        "type": "integer"
                    }
                },
                "required": [
                    "status",
                    "data",
                    "updated"
                ]
            }

## Company Members. [/companies/{companySlug}/members]
Each Company can have one or more Company Members, these Company Members will have access to the Company
configuration and information as controlled by the Access Roles.
All Access Roles configured in a parent Company will have access to all date from children Companies created.
These users will NOT be visible to users who only have access to the child Company.

Default roles available are:
 - **Administrator:** an administrator will have full read/write access
 - **Reviewer:** a reviewer is allowed to view the end-users who have been verified. They are also able to
provide review feedback and view reports.

**Note:** advanced usage only.

## List all Members. [GET /companies/{companySlug}/members]

Retrieves a complete list of all members that belong to the requesting company.

+ Parameters
    + companySlug: `veridu-ltd` (string, required)

+ Request (application/json)
    + Headers

            Authorization: IdentityToken wqxehuwqwsthwosjbxwwsqwsdi

+ Response 500 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "Error",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "",
                        "type": "boolean"
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "description": "Same as the HTTP Status Code.",
                                "type": "integer"
                            },
                            "type": {
                                "description": "The type of error returned.",
                                "type": "string",
                                "pattern": ""
                            },
                            "link": {
                                "description": "Link to additional information about the error and how to fix/avoid it.",
                                "type": "string",
                                "pattern": ""
                            },
                            "message": {
                                "description": "A descriptive error message.",
                                "type": "string"
                            }
                        }
                    }
                },
                "required": [
                    "status",
                    "error"
                ]
            }

+ Response 200 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "GET /companies/{companySlug}/members",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "Response status flag",
                        "type": "boolean"
                    },
                    "data": {
                        "description": "Member response payload",
                        "type": "array",
                        "items": {
                            "properties": {
                                "id": {
                                    "description": "Member id",
                                    "type": "integer",
                                    "pattern": ""
                                },
                                "company_id": {
                                    "description": "Company Id",
                                    "type": "integer",
                                    "pattern": ""
                                },
                                "identity_id": {
                                    "description": "Identity Id",
                                    "type": "integer",
                                    "pattern": ""
                                },
                                "role": {
                                    "description": "Role access of the member in the company",
                                    "type": "string",
                                    "pattern": ""
                                },
                                "created_at": {
                                    "description": "Member's creation unixtime",
                                    "type": "integer"
                                },
                                "updated_at": {
                                    "description": "Member's last update unixtime",
                                    "type": [
                                        "integer",
                                        "null"
                                    ]
                                }
                            }
                        },
                        "minItems": 0,
                        "uniqueItems": true
                    },
                    "updated": {
                        "description": "Unixtime of the last update",
                        "type": "integer"
                    }
                },
                "required": [
                    "status",
                    "data",
                    "updated"
                ]
            }

## Retrieve a single Member. [GET /companies/{companySlug}/members/{memberId}]

Retrieves all public information from a Member

+ Parameters
    + companySlug: `veridu-ltd` (string, required)
    + memberId: `1243` (number, required)

+ Request (application/json)
    + Headers

            Authorization: IdentityToken wqxehuwqwsthwosjbxwwsqwsdi

+ Response 500 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "Error",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "",
                        "type": "boolean"
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "description": "Same as the HTTP Status Code.",
                                "type": "integer"
                            },
                            "type": {
                                "description": "The type of error returned.",
                                "type": "string",
                                "pattern": ""
                            },
                            "link": {
                                "description": "Link to additional information about the error and how to fix/avoid it.",
                                "type": "string",
                                "pattern": ""
                            },
                            "message": {
                                "description": "A descriptive error message.",
                                "type": "string"
                            }
                        }
                    }
                },
                "required": [
                    "status",
                    "error"
                ]
            }

+ Response 200 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "id": "https://api.idos.io/1.0/schema/member/memberEntity.json",
                "title": "Member",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "Member id",
                        "type": "integer",
                        "pattern": ""
                    },
                    "company_id": {
                        "description": "Company Id",
                        "type": "integer",
                        "pattern": ""
                    },
                    "identity_id": {
                        "description": "Identity Id",
                        "type": "integer",
                        "pattern": ""
                    },
                    "role": {
                        "description": "Role access of the member in the company",
                        "type": "string",
                        "pattern": ""
                    },
                    "created_at": {
                        "description": "Member's creation unixtime",
                        "type": "integer"
                    },
                    "updated_at": {
                        "description": "Member's last update unixtime",
                        "type": [
                            "integer",
                            "null"
                        ]
                    }
                },
                "required": [
                    "id",
                    "company_id",
                    "identity_id",
                    "role",
                    "created_at",
                    "updated_at"
                ]
            }

## Updates a single Member. [PATCH /companies/{companySlug}/members/{memberId}]

Updates one member data.

Updates a company member identified by the given id.

+ Parameters
    + companySlug: `veridu-ltd` (string, required)
    + memberId: `1243` (number, required)

+ Request (application/json)
    + Headers

            Authorization: IdentityToken wqxehuwqwsthwosjbxwwsqwsdi

    + Attributes

        + role: company.owner (string) - Role type

    + Body

            {
                "role": "company.owner"
            }

+ Response 500 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "Error",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "",
                        "type": "boolean"
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "description": "Same as the HTTP Status Code.",
                                "type": "integer"
                            },
                            "type": {
                                "description": "The type of error returned.",
                                "type": "string",
                                "pattern": ""
                            },
                            "link": {
                                "description": "Link to additional information about the error and how to fix/avoid it.",
                                "type": "string",
                                "pattern": ""
                            },
                            "message": {
                                "description": "A descriptive error message.",
                                "type": "string"
                            }
                        }
                    }
                },
                "required": [
                    "status",
                    "error"
                ]
            }

+ Response 200 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "PUT /companies/{companySlug}/members/{username}",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "Response status flag",
                        "type": "boolean"
                    },
                    "data": {
                        "description": "Member response payload",
                        "type": "object",
                        "properties": {
                            "id": {
                                "description": "Member id",
                                "type": "integer",
                                "pattern": ""
                            },
                            "company_id": {
                                "description": "Company Id",
                                "type": "integer",
                                "pattern": ""
                            },
                            "identity_id": {
                                "description": "Identity Id",
                                "type": "integer",
                                "pattern": ""
                            },
                            "role": {
                                "description": "Role access of the member in the company",
                                "type": "string",
                                "pattern": ""
                            },
                            "created_at": {
                                "description": "Member's creation unixtime",
                                "type": "integer"
                            },
                            "updated_at": {
                                "description": "Member's last update unixtime",
                                "type": [
                                    "integer",
                                    "null"
                                ]
                            }
                        }
                    },
                    "updated": {
                        "description": "Unixtime of the last update",
                        "type": "integer"
                    }
                },
                "required": [
                    "status",
                    "data",
                    "updated"
                ]
            }

## Deletes a single Member. [DELETE /companies/{companySlug}/members/{memberId}]

Deletes one member from the database.

+ Parameters
    + companySlug: `veridu-ltd` (string, required)
    + memberId: `1243` (number, required)

+ Request (application/json)
    + Headers

            Authorization: IdentityToken wqxehuwqwsthwosjbxwwsqwsdi

+ Response 500 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "Error",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "",
                        "type": "boolean"
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "description": "Same as the HTTP Status Code.",
                                "type": "integer"
                            },
                            "type": {
                                "description": "The type of error returned.",
                                "type": "string",
                                "pattern": ""
                            },
                            "link": {
                                "description": "Link to additional information about the error and how to fix/avoid it.",
                                "type": "string",
                                "pattern": ""
                            },
                            "message": {
                                "description": "A descriptive error message.",
                                "type": "string"
                            }
                        }
                    }
                },
                "required": [
                    "status",
                    "error"
                ]
            }

+ Response 200 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "DELETE /companies/{companySlug}/members/{username}",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "Response status flag",
                        "type": "boolean"
                    }
                },
                "required": [
                    "status"
                ]
            }

## Get the membership related to the requesting Identity. [GET /companies/{companySlug}/membership]

Retrieve a member entity related to that company and identity.

Acting User: the user that is performing the system action
Target User: the user that is receiving the system action
Acting Company: the company that is performing the system action
Target Company: the company that is receiving the system action
Credential: the credential used during the request (may be missing)

+ Parameters
    + companySlug: `veridu-ltd` (string, required)

+ Request (application/json)
    + Headers

            Authorization: IdentityToken wqxehuwqwsthwosjbxwwsqwsdi

+ Response 500 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "Error",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "",
                        "type": "boolean"
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "description": "Same as the HTTP Status Code.",
                                "type": "integer"
                            },
                            "type": {
                                "description": "The type of error returned.",
                                "type": "string",
                                "pattern": ""
                            },
                            "link": {
                                "description": "Link to additional information about the error and how to fix/avoid it.",
                                "type": "string",
                                "pattern": ""
                            },
                            "message": {
                                "description": "A descriptive error message.",
                                "type": "string"
                            }
                        }
                    }
                },
                "required": [
                    "status",
                    "error"
                ]
            }

## Company Profile. [/companies/{companySlug}/profiles]
The Company Profile endpoint lists a summary all users associated to a specific company, including details such as
the attributes, gates, etc.
It can also be used to retrieve a summary of all information related to single user or delete a single user.

## List all CompanyProfiles. [GET /companies/{companySlug}/profiles]

Retrieve a complete list of all users that belong to this company.

+ Parameters
    + companySlug: `veridu-ltd` (string, required)

+ Request (application/json)
    + Headers

            Authorization: IdentityToken wqxehuwqwsthwosjbxwwsqwsdi

+ Response 500 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "Error",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "",
                        "type": "boolean"
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "description": "Same as the HTTP Status Code.",
                                "type": "integer"
                            },
                            "type": {
                                "description": "The type of error returned.",
                                "type": "string",
                                "pattern": ""
                            },
                            "link": {
                                "description": "Link to additional information about the error and how to fix/avoid it.",
                                "type": "string",
                                "pattern": ""
                            },
                            "message": {
                                "description": "A descriptive error message.",
                                "type": "string"
                            }
                        }
                    }
                },
                "required": [
                    "status",
                    "error"
                ]
            }

+ Response 200 (application/json)

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "GET /companies/{companySlug}/profiles",
                "type": "object",
                "properties": {
                    "status": {
                        "description": "Response status flag",
                        "type": "boolean"
                    },
                    "data": {
                        "description": "CompanyProfiles response payload",
                        "type": "array",
                        "items": {
                            "username": {
                                "description": "user's username",
                                "type": "string",
                                "pattern": ""
                            },
                            "firstnames": {
                                "description": "User's first names",
                                "type": "array"
                            },
                            "middlenames": {
                                "description": "User's middle names",
                                "type": "array"
                            },
                            "lastnames": {
                                "description": "User's last names",
                                "type": "array"
                            },
                            "warnings": {
                                "description": "User's warnings",
                                "type": "array",
                                "items": {
                                    "   $ref": "../warning/warningEntity.json"
                                }
                            },
                            "gates": {
                                "description": "User's gates",
                                "type": "array",
                                "items": {
                                    "$ref": {
                                        "id": {
                                            "description": "Gate id",
                                            "type": "integer"
                                        },
                                        "name": {
                                            "description": "Gate's name",
                                            "type": "string",
                                            "pattern": "[a-zA-Z0-9_-]+"
                                        },
                                        "slug": {
                                            "description": "Gate's slug",
                                            "type": "string",
                                            "pattern": "[a-zA-Z0-9_-]+"
                                        },
                                        "confidence_level": {
                                            "description": "Gate's confidence level",
                                            "type": "string",
                                            "pattern": "[a-zA-Z]+"
                                        },
                                        "created_at": {
                                            "description": "Gate's creation unixtime",
                                            "type": "integer"
                                        },
                                        "updated_at": {
                                            "description": "Gate's last update unixtime",
                                            "type": [
                                                "integer",
                                                "null"
                                            ]
                                        }
                                    }
                                }
                            },
                            "created_at": {
                                "description": "User's creation unixtime",
                                "type": "integer"
                            },
                            "updated_at": {
                                "description": "User's last update unixtime",
                                "type": [
                                    "integer",
                                    null
                                ]
                            }
                        },
                        "minItems": 0,
                        "uniqueItems": true
                    },
                    "updated": {
                        "description": "Unixtime of the last update",
                        "type": [
                            "integer",
                            null
                        ]
                    }
                },
                "required": [
                    "status",
                    "data",
                    "updated"
                ]
            }

## Retrieve a single company profile. [GET /companies/{companySlug}/profiles/{userId}]

Retrieves all public information from a company profile.

+ Parameters
    + companySlug: `veridu-ltd` (string, required)
[...]
